<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>添加笔记-云笔记</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../res/layui/css/layui.css">
    <link rel="stylesheet" href="../res/static/css/mian.css">
</head>

<body class="lay-blog">
    <div class="header">
        <div class="header-wrap">
            <h1 class="logo pull-left">
                <a href="index.html" style="color: white;font-size: 30px;">
                    <img src="../res/static/images/logo.png" alt="" class="logo-img"> 云笔记
                    <!--                    <img src="../res/static/images/logo-text.png" alt="" class="logo-text">-->
                </a>
            </h1>
            <!-- <form class="layui-form blog-seach pull-left" action="">
					<div class="layui-form-item blog-sewrap">
					    <div class="layui-input-block blog-sebox">
					      <i class="layui-icon layui-icon-search"></i>
					      <input type="text" name="title" lay-verify="title" autocomplete="off"  class="layui-input">
					    </div>
					</div>
				</form> -->
            <div class="blog-nav pull-right">
                <ul class="layui-nav pull-left">
                    <li class="layui-nav-item"><a href="index.html">首页</a></li>
                    <li class="layui-nav-item layui-this"><a href="addNote.html">增加笔记</a></li>
                    <li class="layui-nav-item"><a href="comment.html">关注话题</a></li>
                    <li class="layui-nav-item ">
                        <!--layui-this-->
                        <a href="typeIndex.html">话题笔记</a>
                        <!--
                        <dl class="layui-nav-child">
                            <dd class="layui-this"><a href="javascript:;">话题1</a></dd>
                            <dd><a href="javascript:;">话题2</a></dd>
                            <dd><a href="javascript:;">话题3</a></dd>
                        </dl>
-->
                    </li>

                    <li class="layui-nav-item"><a href="about.html">关于</a></li>
                </ul>
                <a href="#" class="personal pull-left">
                    <i class="layui-icon layui-icon-username"></i>
                </a>
            </div>
            <div class="mobile-nav pull-right" id="mobile-nav">
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-more"></i>
                </a>
            </div>
        </div>
        <ul class="pop-nav" id="pop-nav">
            <li><a href="index.html">首页</a></li>
            <li><a href="addNote.html">增加笔记</a></li>
            <li><a href="comment.html">关注话题</a></li>
            <li class="layui-nav-item"><a href="typeIndex.html">话题笔记</a></li>
            <li><a href="about.html">关于</a></li>
        </ul>
    </div>
    <div class="container-wrap">

        <div class="container container-message container-details container-comment">
            <div class="contar-wrap">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend style="text-align: center">添加笔记</legend>
                </fieldset>

                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" lay-verify="required" lay-reqtext="标题不可为空" placeholder="请输入笔记标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">描述</label>
                        <div class="layui-input-block">
                            <input type="text" name="desc" lay-verify="required" lay-reqtext="描述不可为空" placeholder="请输入笔记描述" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" pane="">
                        <label class="layui-form-label">性质</label>
                        <div class="layui-input-block" style="    background-color: white;">
                            <input type="radio" name="nature" value="1" title="私密" lay-filter="nature" id="privateElem" checked="">
                            <input type="radio" name="nature" value="2" title="公开" lay-filter="nature" id="publicElem">

                            <!--                            <input type="radio" name="sex" value="禁" title="禁用" disabled="">-->
                        </div>
                    </div>
                    <div class="layui-form-item" pane="">
                        <label class="layui-form-label">可选类型</label>
                        <div class="layui-input-block" style="    background-color: white;" id="form_type">
                            <!--
                            <input type="radio" name="t_id" value="1" title="类型1" disabled="" class="type-list" checked="">
                            checked=""
                            <input type="radio" name="t_id" value="2" title="类型2" disabled="" class="type-list">
                            <input type="radio" name="t_id" value="3" title="类型2" disabled="" class="type-list">
-->
                            <!--                            <input type="radio" name="sex" value="禁" title="禁用" disabled="">-->
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">笔记内容</label>
                        <div class="layui-input-block">
                            <textarea name="content" placeholder="请输入内容" reqtext="内容不可为空" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <!--<div class="layui-form-item layui-form-text">
    <label class="layui-form-label">编辑器</label>
    <div class="layui-input-block">
      <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="LAY_demo_editor"></textarea>
    </div>
  </div>-->
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="footer">
        <p>
            <span>&copy; 2018</span>
            <span><a href="http://www.layui.com" target="_blank">layui.com</a></span>
            <span>MIT license</span>
        </p>
        <p><span>人生就是一场修行</span></p>
    </div>
    <script src="../res/layui/layui.js">


    </script>
    <script>
        layui.config({
            base: '../res/static/js/'
        }).use('blog');
        layui.config({
            base: '../res/static/js/pagejs/'
        }).use('addNotejs');

    </script>
    <script id="LAY-msg-tpl" type="text/html">
        <div class="info-box">
            <div class="info-item">
                <img class="info-img" src="{{ d.avatar }}" alt="">
                <div class="info-text">
                    <p class="title">
                        <span class="name">{{ d.username }}</span>
                        <span class="info-img">
					  	<i class="layui-icon layui-icon-praise"></i>
					  	{{ d.praise }}
					 	</span>
                    </p>
                    <p class="info-intr">
                        {{ d.content }}
                    </p>
                </div>
            </div>
        </div>
    </script>
</body>

</html>
