<!DOCTYPE html>
<html>

<head>
    <title>Bootstrap 实例</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Cynhard的博客</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
               <span class="navbar-toggler-icon"></span>
           </button>
            <!-- 这个 div 加上 justify-content-end 样式即可 -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav" id="headerNav">
                    <li class="nav-item" id="navMainPage"><a class="nav-link" href="/"> 主页 </a></li>
                    <li class="nav-item" id="navTechPage"><a class="nav-link" href="/tech"> 技术 </a></li>
                    <li class="nav-item" id="navFoodPage"><a class="nav-link" href="/food"> 料理 </a></li>
                    <li class="nav-item" id="navPhotoPage"><a class="nav-link" href="/photo"> 摄影 </a></li>
                    <li class="nav-item" id="navEssayPage"><a class="nav-link" href="/essay"> 随笔 </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br>

    <div class="container">
        <h3>导航栏使用下拉菜单</h3>
        <p>导航栏上可以设置下拉菜单。</p>
    </div>

</body>

</html>
